
@{
    ViewBag.Title = "UsersInf";
    Layout = "~/Views/Shared/_LayoutNoLeftSideBar.cshtml";
}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="fancy-title title-bottom-border">
                <h3>Đơn hàng đã đặt</h3>
            </div>
            <div class="table-responsive account-table">

                <p>Bạn chưa đặt mua sản phẩm</p>

            </div>
            <div class="fancy-title title-bottom-border">
                <h3>Thông tin tài khoản</h3>
            </div>
            <div class='account-detail'>

                <h4>Nguyễn Thịnh</h4>


                <p>thinhphuongxa1@gmail.com</p>

                <p></p>

                <p></p>

                <p> Vietnam</p>
                <p></p>

                <p><a id='view_address' href='/account/addresses'>Xem địa chỉ</a></p>
            </div>
        </div>
    </div>
</section>
