
@{
    ViewBag.Title = "TestLayOut";
}

<div class="post_content pull-right col-sm-12 col-xs-12 col-md-9" style="margin-bottom: 15px !important;">
    <h2>TestLayOut</h2>
    Thực phẩm tươi sống/ chế biến



    '~/Content/css/

    '~/Content/js/

    ~/Content/image/


    <!-- Shop
    ============================================= -->
    <!--<div id="shop" class="product-3 clearfix">
        <div class="dess">

        </div>

        <div class='sort-wrapper'>
            <div class="browse-tags" style='margin-bottom:20px;line-height: 30px; overflow:hidden;'>
                <div class="col-sm-6 col-md-8 noleftpadding">
                    <p class="subtext nobottommargin">

                        Có <span class='require_symbol'>8</span> sản phẩm.

                    </p>
                </div>

                <div class='col-sm-6 col-md-4 noleftpadding text-right norightpadding'>
                    <span class='col-sm-5 col-xs-4 nopadding text-left'>Sắp xếp theo:</span>
                    <span class="custom-dropdown custom-dropdown--white pull-right col-sm-7 col-xs-8 norightpadding">
                        <select id='sortControl' class="sort-by custom-dropdown__select custom-dropdown__select--white form-control input-sm">
                            <option sort_by="manual" value='manual'>Sản phẩm nổi bật</option>
                            <option sort_by="(price:product=asc)" value='price-ascending'>Giá: Tăng dần</option>
                            <option sort_by="(price:product=desc)" value='price-descending'>Giá: Giảm dần</option>
                            <option sort_by="(title:product=asc)" value='title-ascending'>Tên: A-Z</option>
                            <option sort_by="(title:product=desc)" value='title-descending'>Tên: Z-A</option>
                            <option sort_by="(updated_at:product=asc)" value='created-ascending'>Cũ nhất</option>
                            <option sort_by="(updated_at:product=desc)" value='created-descending'>Mới nhất</option>
                            <option sort_by="(sold_quantity:product=desc)" value='best-selling'>Bán chạy nhất</option>
                        </select>
                    </span>
                </div>
            </div>

            <script>
                Haravan.queryParams = {};
                if (location.search.length) {
                    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
                        aKeyValue = aCouples[i].split('=');
                        if (aKeyValue.length > 1) {
                            Haravan.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
                        }
                    }
                }</script>

        </div>
        <div id='grid_pagination'>
            <div class='grid'>
                <div class='col-sm-4 col-xs-12 noleftpadding norightpadding product_single'>
                    <div class="product clearfix">

                        <div class="haravan-product-reviews-badge" data-id="1031532360">

                        </div>
                        <div class="product-image">

                            <a href="../products/thit-ba-chi-lon-sach-nguyen-khoi-farm-1kg.html"><img src="~/Content/Clone_leaforganic/Leaforganic/product.hstatic.net/1000104489/product/ba_chi_fcf1bdea1ef844838508716d429b4f3d.jpg" data-lazyload="https://product.hstatic.net/1000104489/product/ba_chi_fcf1bdea1ef844838508716d429b4f3d.jpg" alt="Thịt ba chỉ lợn sạch Nguyên Khôi Farm 1kg"></a>


                            <div class="product-overlay">

                                <a href='../products/thit-ba-chi-lon-sach-nguyen-khoi-farm-1kg.html' class='add-to-cart' data-toggle='tooltip' title='Lựa chọn'><i class='fa fa-shopping-cart'></i><span class='hidden-md hidden-lg'> Lựa chọn</span></a>


                                <a href="#product-pop-up" class="item-quick-view fancybox-fast-view hidden-sm hidden-xs" product_url="/products/thit-ba-chi-lon-sach-nguyen-khoi-farm-1kg" data-toggle='tooltip' title='Xem nhanh'><i class="fa fa-eye"></i><span class='hidden-md hidden-lg'> Xem nhanh</span></a>
                            </div>
                        </div>
                        <div class="product-title">
                            <h4><a href="../products/thit-ba-chi-lon-sach-nguyen-khoi-farm-1kg.html" title="Thịt ba chỉ lợn sạch Nguyên Khôi Farm 1kg">Thịt ba chỉ lợn sạch Nguyên Khôi Farm 1kg</a></h4>
                            <span>00007</span>
                        </div>
                        <div class="product-desc">

                            <div class="product-price">

                                <ins> 315,000₫ </ins>


                            </div>



                            <div class="buy_all">
                                <a class="product_quick_add" data-toggle='tooltip' href="../products/thit-ba-chi-lon-sach-nguyen-khoi-farm-1kg.html">Mua Ngay</a>
                            </div>


                        </div>


                    </div>
                </div>













                <div class='col-sm-4 col-xs-12 noleftpadding norightpadding product_single'>




                    <div class="product clearfix">

                        <div class="haravan-product-reviews-badge" data-id="1031532882">

                        </div>
                        <div class="product-image">

                            <a href="../products/thit-bap-chan-gio-rut-xuong-lon-sach-nguyen-khoi-farm-1kg.html"><img src="~/Content/Clone_leaforganic/Leaforganic/product.hstatic.net/1000104489/product/chan_gio_rut_xuong_f966de80690e4589813efc889f95d7ac.jpg" data-lazyload="https://product.hstatic.net/1000104489/product/chan_gio_rut_xuong_f966de80690e4589813efc889f95d7ac.jpg" alt="Thịt bắp chân giò rút xương lợn sạch Nguyên Khôi Farm 1kg"></a>


                            <div class="product-overlay">

                                <a href='../products/thit-bap-chan-gio-rut-xuong-lon-sach-nguyen-khoi-farm-1kg.html' class='add-to-cart' data-toggle='tooltip' title='Lựa chọn'><i class='fa fa-shopping-cart'></i><span class='hidden-md hidden-lg'> Lựa chọn</span></a>


                                <a href="#product-pop-up" class="item-quick-view fancybox-fast-view hidden-sm hidden-xs" product_url="/products/thit-bap-chan-gio-rut-xuong-lon-sach-nguyen-khoi-farm-1kg" data-toggle='tooltip' title='Xem nhanh'><i class="fa fa-eye"></i><span class='hidden-md hidden-lg'> Xem nhanh</span></a>
                            </div>
                        </div>
                        <div class="product-title">
                            <h4><a href="../products/thit-bap-chan-gio-rut-xuong-lon-sach-nguyen-khoi-farm-1kg.html" title="Thịt bắp chân giò rút xương lợn sạch Nguyên Khôi Farm 1kg">Thịt bắp chân giò rút xương lợn sạch Nguyên Khôi Farm 1kg</a></h4>
                            <span>00015</span>
                        </div>
                        <div class="product-desc">

                            <div class="product-price">

                                <ins> 285,000₫ </ins>


                            </div>



                            <div class="buy_all">
                                <a class="product_quick_add" data-toggle='tooltip' href="../products/thit-bap-chan-gio-rut-xuong-lon-sach-nguyen-khoi-farm-1kg.html">Mua Ngay</a>
                            </div>


                        </div>


                    </div>
                </div>













                <div class='col-sm-4 col-xs-12 noleftpadding norightpadding product_single'>




                    <div class="product clearfix">

                        <div class="haravan-product-reviews-badge" data-id="1031532806">

                        </div>
                        <div class="product-image">

                            <a href="../products/thit-nac-vai-lon-sach-nguyen-khoi-farm-1kg.html"><img src="~/Content/Clone_leaforganic/Leaforganic/product.hstatic.net/1000104489/product/nac_vai_59f0354c1afc488e96db7ff2b106dcf6.jpg" data-lazyload="https://product.hstatic.net/1000104489/product/nac_vai_59f0354c1afc488e96db7ff2b106dcf6.jpg" alt="Thịt nạc vai lợn sạch Nguyên Khôi Farm 1kg"></a>


                            <div class="product-overlay">

                                <a href='../products/thit-nac-vai-lon-sach-nguyen-khoi-farm-1kg.html' class='add-to-cart' data-toggle='tooltip' title='Lựa chọn'><i class='fa fa-shopping-cart'></i><span class='hidden-md hidden-lg'> Lựa chọn</span></a>


                                <a href="#product-pop-up" class="item-quick-view fancybox-fast-view hidden-sm hidden-xs" product_url="/products/thit-nac-vai-lon-sach-nguyen-khoi-farm-1kg" data-toggle='tooltip' title='Xem nhanh'><i class="fa fa-eye"></i><span class='hidden-md hidden-lg'> Xem nhanh</span></a>
                            </div>
                        </div>
                        <div class="product-title">
                            <h4><a href="../products/thit-nac-vai-lon-sach-nguyen-khoi-farm-1kg.html" title="Thịt nạc vai lợn sạch Nguyên Khôi Farm 1kg">Thịt nạc vai lợn sạch Nguyên Khôi Farm 1kg</a></h4>
                            <span>00025</span>
                        </div>
                        <div class="product-desc">

                            <div class="product-price">

                                <ins> 295,000₫ </ins>


                            </div>



                            <div class="buy_all">
                                <a class="product_quick_add" data-toggle='tooltip' href="../products/thit-nac-vai-lon-sach-nguyen-khoi-farm-1kg.html">Mua Ngay</a>
                            </div>


                        </div>


                    </div>
                </div>













                <div class='col-sm-4 col-xs-12 noleftpadding norightpadding product_single'>




                    <div class="product clearfix">

                        <div class="haravan-product-reviews-badge" data-id="1031535198">

                        </div>
                        <div class="product-image">

                            <a href="../products/thit-vai-san-lon-sach-nguyen-khoi-farm-1kg.html"><img src="~/Content/Clone_leaforganic/Leaforganic/product.hstatic.net/1000104489/product/vai_san_1aa8889a7be94347b7a9648cef8c7f8c.jpg" data-lazyload="https://product.hstatic.net/1000104489/product/vai_san_1aa8889a7be94347b7a9648cef8c7f8c.jpg" alt="Thịt vai sấn lợn sạch Nguyên Khôi Farm 1kg"></a>


                            <div class="product-overlay">

                                <a href='../products/thit-vai-san-lon-sach-nguyen-khoi-farm-1kg.html' class='add-to-cart' data-toggle='tooltip' title='Lựa chọn'><i class='fa fa-shopping-cart'></i><span class='hidden-md hidden-lg'> Lựa chọn</span></a>


                                <a href="#product-pop-up" class="item-quick-view fancybox-fast-view hidden-sm hidden-xs" product_url="/products/thit-vai-san-lon-sach-nguyen-khoi-farm-1kg" data-toggle='tooltip' title='Xem nhanh'><i class="fa fa-eye"></i><span class='hidden-md hidden-lg'> Xem nhanh</span></a>
                            </div>
                        </div>
                        <div class="product-title">
                            <h4><a href="../products/thit-vai-san-lon-sach-nguyen-khoi-farm-1kg.html" title="Thịt vai sấn lợn sạch Nguyên Khôi Farm 1kg">Thịt vai sấn lợn sạch Nguyên Khôi Farm 1kg</a></h4>
                            <span>00011</span>
                        </div>
                        <div class="product-desc">

                            <div class="product-price">

                                <ins> 275,000₫ </ins>


                            </div>



                            <div class="buy_all">
                                <a class="product_quick_add" data-toggle='tooltip' href="../products/thit-vai-san-lon-sach-nguyen-khoi-farm-1kg.html">Mua Ngay</a>
                            </div>


                        </div>


                    </div>
                </div>













                <div class='col-sm-4 col-xs-12 noleftpadding norightpadding product_single'>




                    <div class="product clearfix">

                        <div class="haravan-product-reviews-badge" data-id="1031535209">

                        </div>
                        <div class="product-image">

                            <a href="../products/thit-xay-lon-sach-nguyen-khoi-farm.html"><img src="~/Content/Clone_leaforganic/Leaforganic/product.hstatic.net/1000104489/product/thit_xay_c5d63bd4821a487e8ecfc068b611a721.jpg" data-lazyload="https://product.hstatic.net/1000104489/product/thit_xay_c5d63bd4821a487e8ecfc068b611a721.jpg" alt="Thịt xay lợn sạch Nguyên Khôi Farm"></a>


                            <div class="product-overlay">

                                <a href='../products/thit-xay-lon-sach-nguyen-khoi-farm.html' class='add-to-cart' data-toggle='tooltip' title='Lựa chọn'><i class='fa fa-shopping-cart'></i><span class='hidden-md hidden-lg'> Lựa chọn</span></a>


                                <a href="#product-pop-up" class="item-quick-view fancybox-fast-view hidden-sm hidden-xs" product_url="/products/thit-xay-lon-sach-nguyen-khoi-farm" data-toggle='tooltip' title='Xem nhanh'><i class="fa fa-eye"></i><span class='hidden-md hidden-lg'> Xem nhanh</span></a>
                            </div>
                        </div>
                        <div class="product-title">
                            <h4><a href="../products/thit-xay-lon-sach-nguyen-khoi-farm.html" title="Thịt xay lợn sạch Nguyên Khôi Farm">Thịt xay lợn sạch Nguyên Khôi Farm</a></h4>
                            <span>00016</span>
                        </div>
                        <div class="product-desc">
                            <div class="product-price">

                                <ins> 280,000₫ </ins>
                            </div>
                            <div class="buy_all">
                                <a class="product_quick_add" data-toggle='tooltip' href="../products/thit-xay-lon-sach-nguyen-khoi-farm.html">Mua Ngay</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class='col-sm-4 col-xs-12 noleftpadding norightpadding product_single'>

                    <div class="product clearfix">

                        <div class="haravan-product-reviews-badge" data-id="1034760749">

                        </div>
                        <div class="product-image">

                            <a href="../products/tom-the-ring-sinh-thai-huu-co-mangrove-hop-200g.html"><img src="~/Content/Clone_leaforganic/Leaforganic/product.hstatic.net/1000104489/product/tom_the_ring_8b7a5555d56549fdae451068d4cd2291.jpg" data-lazyload="https://product.hstatic.net/1000104489/product/tom_the_ring_8b7a5555d56549fdae451068d4cd2291.jpg" alt="Tôm thẻ ring - tôm sinh thái Minh Phú hộp 200g"></a>


                            <div class="product-overlay">

                                <a href='../products/tom-the-ring-sinh-thai-huu-co-mangrove-hop-200g.html' class='add-to-cart' data-toggle='tooltip' title='Lựa chọn'><i class='fa fa-shopping-cart'></i><span class='hidden-md hidden-lg'> Lựa chọn</span></a>


                                <a href="#product-pop-up" class="item-quick-view fancybox-fast-view hidden-sm hidden-xs" product_url="/products/tom-the-ring-sinh-thai-huu-co-mangrove-hop-200g" data-toggle='tooltip' title='Xem nhanh'><i class="fa fa-eye"></i><span class='hidden-md hidden-lg'> Xem nhanh</span></a>
                            </div>
                        </div>
                        <div class="product-title">
                            <h4><a href="../products/tom-the-ring-sinh-thai-huu-co-mangrove-hop-200g.html" title="Tôm thẻ ring - tôm sinh thái Minh Phú hộp 200g">Tôm thẻ ring - tôm sinh thái Minh Phú hộp 200g</a></h4>
                            <span>210039</span>
                        </div>
                        <div class="product-desc">

                            <div class="product-price">

                                <ins> 130,000₫ </ins>


                            </div>



                            <div class="buy_all">
                                <a class="product_quick_add" data-toggle='tooltip' href="../products/tom-the-ring-sinh-thai-huu-co-mangrove-hop-200g.html">Mua Ngay</a>
                            </div>


                        </div>


                    </div>
                </div>

                <div class='col-sm-4 col-xs-12 noleftpadding norightpadding product_single'>
                    <div class="product clearfix">
                        <div class="haravan-product-reviews-badge" data-id="1031535285">
                        </div>
                        <div class="product-image">

                            <a href="../products/xuong-cuc-lon-sach-nguyen-khoi-farm-1kg.html"><img src="~/Content/Clone_leaforganic/Leaforganic/product.hstatic.net/1000104489/product/xuong_cuc_aabb8c1868cd4c2b9d28691fe424dbe2.jpg" data-lazyload="https://product.hstatic.net/1000104489/product/xuong_cuc_aabb8c1868cd4c2b9d28691fe424dbe2.jpg" alt="Xương cục lợn sạch Nguyên Khôi Farm 1kg"></a>


                            <div class="product-overlay">

                                <a href='../products/xuong-cuc-lon-sach-nguyen-khoi-farm-1kg.html' class='add-to-cart' data-toggle='tooltip' title='Lựa chọn'><i class='fa fa-shopping-cart'></i><span class='hidden-md hidden-lg'> Lựa chọn</span></a>


                                <a href="#product-pop-up" class="item-quick-view fancybox-fast-view hidden-sm hidden-xs" product_url="/products/xuong-cuc-lon-sach-nguyen-khoi-farm-1kg" data-toggle='tooltip' title='Xem nhanh'><i class="fa fa-eye"></i><span class='hidden-md hidden-lg'> Xem nhanh</span></a>
                            </div>
                        </div>
                        <div class="product-title">
                            <h4><a href="../products/xuong-cuc-lon-sach-nguyen-khoi-farm-1kg.html" title="Xương cục lợn sạch Nguyên Khôi Farm 1kg">Xương cục lợn sạch Nguyên Khôi Farm 1kg</a></h4>
                            <span>00029</span>
                        </div>
                        <div class="product-desc">

                            <div class="product-price">

                                <ins> 135,000₫ </ins>


                            </div>



                            <div class="buy_all">
                                <a class="product_quick_add" data-toggle='tooltip' href="../products/xuong-cuc-lon-sach-nguyen-khoi-farm-1kg.html">Mua Ngay</a>
                            </div>


                        </div>


                    </div>
                </div>

                <div class='col-sm-4 col-xs-12 noleftpadding norightpadding product_single'>
                    <div class="product clearfix">

                        <div class="haravan-product-reviews-badge" data-id="1031535303">

                        </div>
                        <div class="product-image">

                            <a href="../products/xuong-dau-than-lon-sach-nguyen-khoi-farm.html"><img src="~/Content/Clone_leaforganic/Leaforganic/product.hstatic.net/1000104489/product/xuong_dau_than_c52357c35b204cd1976c6a46f5eddf33.jpg" data-lazyload="https://product.hstatic.net/1000104489/product/xuong_dau_than_c52357c35b204cd1976c6a46f5eddf33.jpg" alt="Xương đầu thăn lợn sạch Nguyên Khôi Farm"></a>


                            <div class="product-overlay">

                                <a href='../products/xuong-dau-than-lon-sach-nguyen-khoi-farm.html' class='add-to-cart' data-toggle='tooltip' title='Lựa chọn'><i class='fa fa-shopping-cart'></i><span class='hidden-md hidden-lg'> Lựa chọn</span></a>


                                <a href="#product-pop-up" class="item-quick-view fancybox-fast-view hidden-sm hidden-xs" product_url="/products/xuong-dau-than-lon-sach-nguyen-khoi-farm" data-toggle='tooltip' title='Xem nhanh'><i class="fa fa-eye"></i><span class='hidden-md hidden-lg'> Xem nhanh</span></a>
                            </div>
                        </div>
                        <div class="product-title">
                            <h4><a href="../products/xuong-dau-than-lon-sach-nguyen-khoi-farm.html" title="Xương đầu thăn lợn sạch Nguyên Khôi Farm">Xương đầu thăn lợn sạch Nguyên Khôi Farm</a></h4>
                            <span>00040</span>
                        </div>
                        <div class="product-desc">

                            <div class="product-price">

                                <ins> 195,000₫ </ins>


                            </div>



                            <div class="buy_all">
                                <a class="product_quick_add" data-toggle='tooltip' href="../products/xuong-dau-than-lon-sach-nguyen-khoi-farm.html">Mua Ngay</a>
                            </div>


                        </div>


                    </div>
                </div>



            </div>
            <div class='pagination_wrapper'>-->
    <!-- BEGIN: AJAX-FILTER -->
    <!--<script>
        $(".resetButton").click(function (e) {
            e.preventDefault();	// không tự nhảy lên đầu trang
            $(':input[filtertype=search]:checked').each(function () {
                this.checked = false;
                var searchString = getStringFilter($(this));
                var url_final = '/' + searchString + '&view=grid_and_control';
                //loadResultBy(url_final,$("#results"));
            });
        });

        function getStringFilter(currentSelected) {
            var vendor = "", product_type = "", price = "", color = '', tag_custom_1 = "", tag_custom_2 = "", tag_custom_3 = "";
            var tag_prefix_1 = 'xuatxu',
                tag_prefix_2 = 'manhinh',
                tag_prefix_3 = 'dungtich';
            var searchString = "search?q=";
            // if current page is search
            if ($("#collection_id").val() == ">=0") {
                searchString += $("#search_term").val() + "&";
            }
            searchString += "filter=(";
            // BEGIN: Filter
            var collectionFilter = "";
            if ($("#collection_id").val() != ">=0") {
                if ($("#collection_id").val() != "=0") {
                    collectionFilter += "(collectionid:product" + $("#collection_id").val() + ")";
                }
                else {
                    collectionFilter = "(collectionid:product>=0)";
                }
            }
            else {
                collectionFilter = "(collectionid:product>=0)";
            }



            // BEGIN: GET All checked filter string
            // standard filter
            vendor = getCheckedBy("vendor", vendor).replace("=", "**");
            product_type = getCheckedBy("product_type", product_type);
            price = getCheckedBy("price", price);
            // custom filer

            color = getCheckedBy("mausac", color);

            tag_custom_1 = (tag_prefix_1 != '') ? getCheckedBy(tag_prefix_1, tag_custom_1) : getCheckedBy('a', tag_custom_1);
            tag_custom_2 = (tag_prefix_2 != '') ? getCheckedBy(tag_prefix_2, tag_custom_2) : getCheckedBy('a', tag_custom_2);
            tag_custom_3 = (tag_prefix_3 != '') ? getCheckedBy(tag_prefix_3, tag_custom_3) : getCheckedBy('a', tag_custom_3);
            // END: GET FILTER

            //console.log(vendor);
            //console.log(color);
            // BEGIN: MERGE all filter string
            collectionFilter = mergeFilterWith(vendor, collectionFilter);
            collectionFilter = mergeFilterWith(product_type, collectionFilter);
            collectionFilter = mergeFilterWith(price, collectionFilter);

            collectionFilter = mergeFilterWith(color, collectionFilter);
            collectionFilter = mergeFilterWith(tag_custom_1, collectionFilter);
            collectionFilter = mergeFilterWith(tag_custom_2, collectionFilter);
            collectionFilter = mergeFilterWith(tag_custom_3, collectionFilter);

            searchString += collectionFilter;
            searchString += ')';
            // END: MERGE

            // BEGIN: Sorting
            if ($("#sortControl option:selected").val() != "") {
                //searchString += "&sortby="+$( "#sortControl option:selected" ).attr('sort_by');
            }
            else {
                //searchString+='&sortby=(updated_at:product=desc)';
            }
            // END: Sorting

            return searchString;
        }

        function getCheckedBy(filterKey, filterOption) {
            $(':input[class^=' + filterKey + ']:checked').each(function () {
                if (filterOption == "") {
                    filterOption = $(this).val();
                }
                else {
                    filterOption = filterOption + '||' + $(this).val();
                }
            });
            return filterOption;
        }

        function mergeFilterWith(filterCondition, currCollectionFilter) {
            if (filterCondition != "") {
                filterCondition = '(' + filterCondition + ')';
                currCollectionFilter += '&&' + filterCondition;
            }
            return currCollectionFilter;
        }

        function loadResultBy(url_building, position_load) {
            var c = url_building.replace('&view=grid_and_control', '');
            console.log(c);
            var a = encodeURIComponent(c.replace('/search?q=filter=', ''));
            $.ajax({
                'url': '/search?q=filter=' + a + '&view=gid-search',
                'type': 'POST',
                'success': function (data) {
                    //console.log(data);
                    position_load.html(data);
                },
                'complete': function () {
                    ega.init();
                }
            });
        }

        // ajax sorting

        jQuery('.sort-by').val('title-ascending')
            .bind('change', function () {
                Haravan.queryParams.sort_by = $(this).val();
                location.search = $.param(Haravan.queryParams);
            })


        // ajax pagination
        $('.ajax-pagination li as').click(function (e) {

        });


        function scrollToShop(margin) {
            var locate = parseInt($('#content').offset().top) + margin;
            $('html, body').animate({
                scrollTop: locate
            }, 1000);
            return false;
        }
        // end scroll

        //$('.pagination li a').click(function() {scrollToShop(0)});


        /** align single element ***/
        $(document).ready(function () {
            align_single_element();
        });
        var align_single_element = function () {
            var num_pro = $('#shop .product').length;
            if (num_pro % 2 == 1) {
                $('#shop .product').last().addClass('product-last');
            }
        }</script>-->
    <!-- END: AJAX-FILTER -->
    <!--</div>

        </div>
    </div>-->
    <!-- #shop end -->
</div>