@model LeafShop.Models.KhuVuc

@{
    ViewBag.Title = "Edit";
}

<h2 style="font-size: 30px">Cập nhật khu vực</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="pt-4 pb-3">
            <div class="row">

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="md-form md-outline my-0">
                        <label for="form13">Tên khu vực </label>
                        <div class="select-outline position-relative w-100">
                            @Html.EditorFor(model => model.TenKhuVuc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenKhuVuc, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="md-form md-outline mt-0">
                        <input type="submit" value="Lưu" class="btn btn-default" />
                        @Html.ActionLink("Quay trở lại", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>

}


